@font-face {
  font-family: 'popins';
  src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'popins-bold';
  src: url('./assets/font/Poppins/Poppins-BoldItalic.ttf');
}


img{
  width: 200px;
}
h1{
  font-family: popins-bold;
  font-size: 1rem;
}
