@font-face {
  font-family: 'popins';
  src: url('./assets/font/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'popins-bold';
  src: url('./assets/font/Poppins/Poppins-BoldItalic.ttf');
}


body{
  background-color: rgb(42, 73, 149);
  /* color: rgb(201, 229, 239); */
}
img{
  width: 200px;
}
h1{
  font-family: popins-bold;
  font-size: 1rem;
}
