main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#divCard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    

}

#divCardS{
    font-family: popins-bold;
    border-radius: 5px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgb(59, 70, 104);
    color: rgb(180, 189, 221);
    font-size: 0.8rem;
    gap: ;
    
}

h2{

    color: rgb(213, 218, 233);
    font-family: popins-bold;
    display: flex;
    justify-content: center;
   
}